@media print{
  *{
    font-size: 12pt;
    font-family:serif;
    font-weight: normal;
    background: transparent;
    color: black;
}

@page { margin: 0.5in;
}

#resume{
  width: 10in;
  padding: 0.2in;
  border-width:1pt;
}

#add{
text-align: center;
font-style: italic;
}

nav {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

h1{
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
  margin-left: 0.5in;
  margin-bottom: 0.16in;
}

h3 {
  font-size: 12pt;
  font-weight: bold;
}

p{
margin-left: 0.5in;
}

strong {
  font-weight: bold;
}

em {
  font-weight: bold;
  font-style: italic;
}

}
